label {
	display: block;
}

ul {
	padding-left: 15px;
}

.form-control {
	margin-bottom: 10px;
}
.form-control .error {
	color: red;
}

div.item div.node {
	display: table-cell;
	padding: 10px;
	border: 1px dashed #ccc;
}
div.item a {
	margin-left: 4px;
	padding: 1px 4px;
	text-decoration: none;
	background-color: #999;
	color: white;
}
